   :root {
     --font-body: "Roboto", sans-serif;
     --font-heading: "Merriweather", serif;
     --font-companyName: 'Helvetica Neue'
   }

   /* src/index.css */
   @tailwind base;
   @tailwind components;
   @tailwind utilities;


   @layer base {
     body, h2 {
       font-family: var(--font-body);
     }

     h1,  h3, h4, h5, h6 {
       font-family: var(--font-heading);
     }
   }